$fa-font-path: './webfonts';

@import './fontawesome/fontawesome.scss';
@import './fontawesome/fontawesome.scss';
@import './fontawesome/solid.scss';
@import './fontawesome/brands.scss';
@import './normalize.css';

html,
body {
  height: 100%;
}

li {
  list-style: none;
}
